.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.row.list{position: relative;}
.container .content{
  position: relative;
  background: #dfdfdf;
  border: 1px solid #bfbfbf;
  border-radius: 8px;
}
nav a.nav-link.active {
  background: #212121;
  color: #fff;
  border-radius: 50px;
}
.container .content .overlay{
  background-color:#EFEFEF;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0px;
  left: 0px;
  opacity: .5; 
  filter: alpha(opacity=50); 
}
.header-top{
  text-align: center;
  margin-top: 25px;
}
.logo{
  width: 150px;
}
.app-container{

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
