@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.row.list{position: relative;}
.container .content{
  position: relative;
  background: #dfdfdf;
  border: 1px solid #bfbfbf;
  border-radius: 0px 8px 8px 8px;
}
.list table{
  margin-bottom: 0px;
}
.nav-link i.bi{
  margin-right: 5px;
}
/* .was-validated .invalid-feedback{
  display: block;
} */
nav.nav.flex-column a.nav-link.active,
nav.nav.flex-column a.nav-link:hover {
  background: #dfdfdf;
  color: #000;
  font-weight: bold;
  border-radius: 50px 0px 0px 50px;
  border-top: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
}
nav.nav.flex-column{
  margin-right: -1px;
  position: relative;
  z-index: 99;
}
nav.nav.flex-column .nav-link{
  color: #505050;
  font-weight: bold;
  transition: none;
}
.container .content .overlay{
  background-color:#EFEFEF;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0px;
  left: 0px;
  opacity: .5; 
  filter: alpha(opacity=50); 
}
.header-top{
  text-align: left;
  margin-top: 25px;
}
.logo{
  width: 150px;
}
.app-container{

}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
